@import "../../colors.scss";

.Task {
  padding: 10px 20px;
  border-radius: 14px;
  border: 1px rgb(220, 220, 200) solid;
  margin-bottom: 20px;
  display: flex;
}
.icon {
  font-size: 18px;
  margin-right: 10px;
}
.icon_done {
  color: $green;
}
.text {
  font-size: 16px;
}
.text_done {
  text-decoration: line-through;
  color: rgb(200, 200, 200);
}
.explanation {
  font-size: 15px;
  color: rgb(170, 170, 170);

  a {
    cursor: pointer;
    color: rgb(170, 170, 170);
    text-decoration: underline;
    color: $main;
  }
}
