@import "../colors.scss";
.wrapper {
  width: 100%;
  height: 100%;
  z-index: 100000;
  color: $color;
  font-family: $font;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2147483647;
  position: fixed;
  top: 0px;
  left: 0px;
}
.box {
  width: 400px;
  display: flex;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  background: $bg-modal;
  box-shadow: 0px 0px 8px rgb(20, 20, 20);
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.Login {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  font-family: $font;
}
.Login_title {
  font-size: 20px;
  font-family: $font;
  font-weight: 400;
  text-align: center !important;
  margin-bottom: 16px;
}
.Login_input {
  width: 100%;
  margin-top: 16px;
  float: left;
}
.Login_button {
  width: 100%;
  background: $main;
  color: white;
  font-family: $font;
  margin-top: 20px;
  box-sizing: border-box;
  position: relative;
}
.selectTitle {
  font-size: 14px;
  font-family: $font;
  color: var($color);
}
.Login_signUp {
  font-family: $font;
  color: var($color);
  font-size: 12px;
  text-align: center !important;
  margin-top: 10px;
}
.Login_signUpLink {
  cursor: pointer;
}
.Login_error {
  width: 100%;
  margin-top: 15px;
  font-family: $font;
  text-align: center !important;
  color: red;
  position: relative;
  float: left;
}
.Login_close {
  color: $color;
  transition: 0.2s all;
  cursor: pointer;
  position: absolute;
  top: -30px;
  right: -30px;
}
.Login_close:hover {
  color: $main;
}
.SignUp_button {
  width: 100%;
  color: white;
  font-size: 12px;
  background: linear-gradient(
    90deg,
    rgba(141, 71, 249, 1) 0%,
    rgba(124, 65, 242, 1) 100%
  );
  text-align: center !important;
  font-family: $font;
  cursor: pointer;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  transition: 0.2s all;
  font-size: 18px;
  padding: 8px 0px;

  &:hover {
    box-shadow: 0px 0px 4px rgba(141, 71, 249, 1);
    transform: scale(1.02);
  }
}
