@import "../colors.scss";
.prompt {
  position: absolute;
}
.prompt_innder {
  width: 250px;
  background: $bg-blur;
  padding: 6px 20px;
  box-shadow: $bg-shadow;
  backdrop-filter: $blur;
  font-family: $font;
  color: white;
  font-size: 12px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000000000;

  span {
    font-size: 14px;
  }
}
.text {
  text-align: center !important;
}
