@import "../../../colors.scss";
.ReactCode {
  height: 100%;

  & :global #ace-editor {
    width: 100% !important;
    height: 100% !important;
  }
}
.highlightedLine {
  background-color: rgba(255, 255, 0, 0.2); /* Light yellow background */
}

.tabs {
  background: $bg-hard;
  display: flex;
  padding-top: 4px;
  position: relative;
  padding-left: 36px;
}
.tab {
  padding: 4px 20px;
  font-size: 12px;
  color: $color;
  background: $bg-soft;
  border-radius: 4px 4px 0px 0px;
  margin-left: 10px;
  transition: 0.2s all;

  &:hover {
    color: white;
    background: $input-bg-hover;
    cursor: pointer;
  }
}
.tabSelected {
  cursor: default;
  background: $input-bg-hover;
}
.wrapper {
  height: 100%;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
}
.code {
  height: 100%;
  overflow: auto;
  transition: 0.2s all;
  font-size: 12px;

  textarea {
    outline: none;
  }
}
.buttons {
  height: 30px;
  margin: 10px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right !important;
  color: white;
}
.button {
  margin-right: 12px;
}
.buttonReset {
  font-size: 12px;
  transition: 0.2s all;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}
